$defaultFontFamily: 'Times';
$defaultSize: 12px;
$defaultWeight: "normal";
$defaultStyle: "normal";
$defaultColor: "#000000";
$defaultTextAlign: "left";

@mixin margins($values...) {    
    @each $var in $values {
        margin: #{$var};
    }
}

@mixin font($family, $size, $weight, $style, $color, $textAlign) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
    color: $color;
    text-align: $textAlign;
}

.button {
    @include font($defaultFontFamily, 16px, $defaultWeight, $defaultStyle, $defaultColor, center);
    margin: 2px;
    line-height: 20px;
}

.header {
    margin: auto;
    width: 90%;

    #labHeader {
        @include font('Verdana', 40pt, bold, $defaultStyle, $defaultColor, center);
        margin-top: 2px;
    }

    #timelineButton {
        width: 110px;
        position: relative;
        left: calc(100% - 110px);
    }
}

.tweetTable {
    @include margins(8px auto);
    border: solid 1px;
    width: 90%;

    .wait {
        @include font($defaultFontFamily, 24px, $defaultWeight, italic, $defaultColor, center);
    }

    .error {
        @include font($defaultFontFamily, 24px, $defaultWeight, $defaultStyle, #ff0000, center);
    }

    .tweetRow:nth-child(odd) {
        background: #e8f5fd;
    }

    .tweetRow:nth-child(even) {
        background: #e9e9e9;
    }

    .tweetRow {
        padding: 10px 0px;
        width: 100%;
        border-bottom: 1px solid #d1d1d1;

        .userInfo {
            text-align: center;
            display: inline-block;
            width: 15%;
            vertical-align: middle;

            .userName {
                @include font($defaultFontFamily, 15px, bold, $defaultStyle, $defaultColor, $defaultTextAlign);
                margin-bottom: 5px;
                @include font(false, 15px, bold, false, false, false);
            }

            .userHandle {
                margin-bottom: 5px;
                font-size: 10px;
            }

            .userImg {
                @include margins(10px 0px 4px);
                border-radius: 50%;
            }
        }

        .tweetInfo {
            display: inline-block;
            vertical-align: middle;
            width: 85%;

            .date {
                @include font($defaultFontFamily, 12px, $defaultWeight, italic, $defaultColor, $defaultTextAlign);
                margin-bottom: 5px;
            }

            .message {
                margin-top: 4px;
                font-size: 16px;
            }
        }
    }
}